<div class="min-w-full md:w-1/3">
    <button
        class="shadow bg-teal-400 hover:bg-teal-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
        style="background: {{ bg_color }}; color: {{ text_color }}"
        type="{{ type }}"
        onMouseOver="this.style.background='{{ bg_hover }}'; this.style.color='{{ text_hover }}'"
        onMouseOut="this.style.background='{{ bg_color }}'; this.style.color='{{ text_color }}'"
        @click="{{ onclick }}"
    >
        <span x-show="!loading">{{ value }}</span>
        <span x-show="loading">loadinnnnng.................</span>
    </button>
</div>
